@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-on-primary: #ffffff;
    --color-surface-container: #f0ebff;
    --color-on-background: #1b1832;
    --color-tertiary-fixed: #93f2f2;
    --color-tertiary-fixed-dim: #76d6d5;
    --color-secondary-container: #fd8b00;
    --color-on-tertiary-fixed-variant: #004f4f;
    --color-error: #ba1a1a;
    --color-on-primary-fixed-variant: #2d476f;
    --color-surface-dim: #dcd6f8;
    --color-outline: #74777f;
    --color-secondary-fixed-dim: #ffb77d;
    --color-on-secondary-fixed-variant: #6e3900;
    --color-on-surface: #1b1832;
    --color-surface-container-lowest: #ffffff;
    --color-on-primary-fixed: #001b3d;
    --color-surface-container-low: #f6f1ff;
    --color-on-error: #ffffff;
    --color-on-tertiary-fixed: #002020;
    --color-on-tertiary: #ffffff;
    --color-surface-container-high: #eae5ff;
    --color-inverse-primary: #aec7f6;
    --color-on-secondary-fixed: #2f1500;
    --color-inverse-on-surface: #f3eeff;
    --color-outline-variant: #c4c6cf;
    --color-inverse-surface: #302d48;
    --color-on-error-container: #93000a;
    --color-on-secondary-container: #603100;
    --color-on-secondary: #ffffff;
    --color-surface-variant: #e4dfff;
    --color-on-surface-variant: #44474e;
    --color-primary-fixed: #d6e3ff;
    --color-on-primary-container: #708ab5;
    --color-surface-tint: #465f88;
    --color-primary: #000a1e;
    --color-primary-fixed-dim: #aec7f6;
    --color-tertiary-container: #002626;
    --color-background: #fcf8ff;
    --color-surface-container-highest: #e4dfff;
    --color-secondary-fixed: #ffdcc3;
    --color-primary-container: #002147;
    --color-surface-bright: #fcf8ff;
    --color-surface: #fcf8ff;
    --color-secondary: #904d00;
    --color-error-container: #ffdad6;
    --color-tertiary: #000d0d;
    --color-on-tertiary-container: #2f9696;
  }
}
